# =============== #

# Unity generated #

# =============== #

Temp/

Obj/

UnityGenerated/

Library/



# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj



# ============ #

# OS generated #

# ============ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

Icon?

ehthumbs.db

Thumbs.db
Assets/Explosion System.meta
Assets/Explosion System/Animation.meta
Assets/Explosion System/Audio.meta
Assets/Explosion System/Demo.meta
Assets/Explosion System/Demo/Script (for Demo).meta
Assets/Explosion System/Demo/Textures & models (for Demo).meta
Assets/Explosion System/Demo/Textures & models (for Demo)/MetalTexture1.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/MetalTexture2.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/MetalTexture3.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/MetalTexture3/Materials.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/MetalTexture5.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/MetalTexture6.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/MetalTexture6/Materials.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/Robot.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/Robot/Materials.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/Robot/Models.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/Robot/Models/Materials.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/Skybox.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/Skybox/Materials.meta
Assets/Explosion System/Demo/Textures & models (for Demo)/Skybox/Skybox.meta
Assets/Explosion System/Model.meta
Assets/Explosion System/Model/Materials.meta
Assets/Explosion System/Particles.meta
Assets/Explosion System/Prefabs.meta
Assets/Explosion System/Scripts.meta
Assets/Explosion System/Textures.meta
Assets/Skyboxes/PurpleNebula/Textures/Up_MauveSpaceBox.png.meta
ProjectSettings/ProjectVersion.txt
